.login-page {
    max-width: 350px;
 
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .test-input {
    border-bottom: 1px solid grey;
    margin-bottom: 10px;
  }

  
  div{
    margin-top:20px;
    width: 100%;
    margin-left: 50%;
    height: 20px;
    font-size: 23px;
    font-weight: bold;

  }